language: python
sudo: true
addons:
    postgresql: "9.6"

python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.6-dev" # 3.6 development branch
  - "3.7-dev" # 3.7 development branch
  - "nightly"

matrix:
  allow_failures:
    - python: "3.3"
    - python: "3.6-dev"
    - python: "3.7-dev"
    - python: "nightly"

virtualenv:
  system_site_packages: false

services:
  - postgresql

install:
  - pip install -U pip
  - pip install wheel
  - pip install coveralls
  - pip install -r requirements.test.txt

env:
  global:
    - ANYBLOK_DATABASE_NAME=travis_ci_test
    - ANYBLOK_DATABASE_DRIVER=postgresql
    - ANYBLOK_DATABASE_USER=postgres

script:
  - flake8 anyblok_sale
  - anyblok_createdb -c tests.cfg
  - anyblok_nose -c tests.cfg -- anyblok_sale/bloks
  - psql -c 'drop database anyblok_sale_test;' -U postgres

after_success:
  coveralls
